<ifModule mod_expires.c>
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.rosskas\.github\.io$ [NC]
RewriteRule ^(.*)$ https://rosskas.github.io/$1 [R=301,L]


</ifModule>
